/target/
/**/*.pdb
/**/*.ilk
/**/*.exp
/**/*.lib
/**/*.log
/.idea/
/.vscode/
/.vs/
*.user
*.suo
*.tmp
*.bak
Thumbs.db
Desktop.ini

/dist/
*.zip

/tools/demo-events/.venv/
/tools/demo-events/.idea/
/tools/demo-events/__pycache__/
/tools/demo-events/*.csv
/tools/demo-events/*.jsonl
